<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!-- favicon configuration -->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicons/favicon.ico') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}" sizes="16x16">
<link rel="manifest" href="{{ url_for('static', filename='img/favicons/manifest.json') }}">
<!-- Don't include: color="#000000", in order to pass W3C validation. I'm not sure if this breaks the icon but I don't care. -->
<link rel="mask-icon" href="{{ url_for('static', filename='img/favicons/safari-pinned-tab.svg') }}">
<meta name="msapplication-config" content="{{ url_for('static', filename='img/favicons/browserconfig.xml') }}" />
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Hacker Hats</title>
{% block head %}{% endblock %}
</head>
<body>
<div class="padded-container">
	<header class="header-container" >
		<h1><a href="/">Hacker Hats</a></h1>
	</header>
	<main class="content-container" >
		{% block body %}{% endblock %}
	</main>
	<div class="navigation-container" >
		{% if prev_page is defined %}
			<a class="navigation-button button" id="prev-button" href="{{prev_page}}">Prev</a>
		{% endif %}
		{% if next_page is defined %}
			<a class="navigation-button button" id="next-button" href="{{next_page}}">Next</a>
		{% endif %}
	</div>
</div>
<footer class="footer-container">
Ben Wolsieffer
</footer>
</body>
</html>