{% extends "base.jinja2" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/case.css') }}">
	
	<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/case.js') }}"></script>
{% endblock %}

{% block overlay %}
	<h3>Instructions</h3>
	<p>Read the following descriptions and decide whether they are examples of white hat, gray hat or black hat behavior.</p>
{% endblock %}

{% block body %}
    <div class="case-body">
		{{ case.body }}
    </div>
    <br>
    <form id="response-form">
    	<input type="hidden" name="case_id" value="{{ case.id }}" />
    	{% for text, color in [('White Hat', 'white'), ('Gray Hat', 'gray'), ('Black Hat', 'black')] %}
		<input type="radio" name="response" id="response-radio-{{ color }}" value="{{ color }}" 
			{% if default_response == color %} checked {% endif %} />
		<label class="response-label button" for="response-radio-{{ color }}">{{ text }}</label>
		{% endfor %}
    </form>
{% endblock %}