{% extends "base.jinja2" %}

{% macro cite(text, url) %}
	<cite>(<a href="{{ url }}">{{ text }}</a>)</cite>
{% endmacro %}

{% block body %}
	{% set how_to_geek_url = 'http://www.howtogeek.com/157460/hacker-hat-colors-explained-black-hats-white-hats-and-gray-hats/' %}
	{% set wired_url = 'https://www.wired.com/2016/04/hacker-lexicon-white-hat-gray-hat-black-hat-hackers/' %}

	<h3>Hackers are often categorized into one of three groups...</h3>
	<div class="hat-box" id="white-hat-box" >
		<img class="hat-image" alt="White Hat" src="/static/img/white-hat.svg" />
		<div class="hat-definition" >
			<h3>White Hats...</h3>
			<q cite="{{ how_to_geek_url }}" >use their abilities for good, ethical, and legal purposes rather than bad, unethical, and criminal purposes</q>
			{{ cite("Hoffman", how_to_geek_url) }}
			<br>
			<q cite="{{ wired_url }}" >disclose vulnerabilities to software vendors so they can be fixed</q>
			{{ cite("Zetter", wired_url) }}
		</div>
	</div>
	<div class="hat-box" id="gray-hat-box" >
		<img alt="Gray Hat" class="hat-image" src="/static/img/gray-hat.svg" />
		<div class="hat-definition" >
			<h3>Gray Hats...</h3>
			<q cite="{{ how_to_geek_url }}" >[don't] work for their own personal gain or to cause carnage, but they may technically commit crimes and do arguably unethical things</q>
			{{ cite("Hoffman", how_to_geek_url) }}
			<br>
			<q cite="{{ wired_url }}" >sell or disclose their zero-day vulnerabilities not to criminals, but to governments—law enforcement agencies</q>
			{{ cite("Zetter", wired_url) }}
		</div>
	</div>
	<div class="hat-box" id="black-hat-box" >
		<img alt="Black Hat" class="hat-image" src="/static/img/black-hat.svg" />
		<div class="hat-definition" >
			<h3>Black Hats...</h3>
			<q cite="{{ how_to_geek_url }}" >violate computer security for personal gain ... or for pure maliciousness</q>
			{{ cite("Hoffman", how_to_geek_url) }}
			<br>
			<q cite="{{ wired_url }}" >steal data, such as passwords, email, intellectual property, credit card numbers or bank account credentials</q>
			{{ cite("Zetter", wired_url) }}
			<br>
			<q cite="{{ wired_url }}" >sell information about the security holes to other criminals for them to use</q>
			{{ cite("Zetter", wired_url) }}
		</div>
	</div>
{% endblock %}