html {
	background-color: #E0E0E0;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color: #91969e;
	padding: 20px;
	box-sizing: border-box;
}

.navigation-container {
	padding: 20px;
}

.navigation-button#prev-button {
	float: left;
}

.navigation-button#next-button {
	float: right;
}

.content-container {
	
}

.hat-image {
	width: 200px;
	max-width: 20%;
	display: inline-block;
}

.hat-definition {
	display: inline-block;
	padding-left: 20px;
}

#response-form {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#response-form input[type="radio"] {
	display: none;
}

#response-form input[type="radio"]+label {
	display: block;
	height: 50px;
	/* Vertically align text */
	line-height: 50px;
	background-color: #666666;
	border: 1px solid black;
	border-radius: 12px;
	text-align: center;
	vertical-align: middle;
	text-align: center;
	border-color: black;
	margin: 10px;
}

#response-form input[type="radio"]:checked+label {
	border-color: white;
}

.results-chart {
	max-width: 200px;
	height: 200px;
	display: flex;
	flex: 0 0 200px;
	margin: 0px 20px;
}

.results-description {
	display: flex;
	flex-direction: column;
}

.results-container {
	display: flex;
	flex-grow: 1;
}

@media (max-width: 1000px) {
	body {
		width: 100%;
		margin: 0px;
	}
}

@media (max-width: 800px) {
	.results-chart {
		margin: 0px auto;
	}
	
	.results-container {
		flex-direction: column;
	}
}