html {
	background-color: #E1E1E8;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 70%;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #91969e;
	box-sizing: border-box;
}

.padded-container {
	padding: 20px;
}

.header-container {
	margin-bottom: 20px;
}

.header-container * {
	margin: 0px;
	color: black;
	text-decoration: none;
}

.header-container h4 {
	margin-top: 7px;
	padding-left: 30px;
}

.button {
	border: 1px solid black;
	background-color: #666666;
}

.navigation-container {
	display: flex;
	justify-content: space-between;
}

.navigation-button {
	padding: 8px;
	border-radius: 8px;
	width: 50px;
	text-align: center;
	margin-top: 20px;
	color: black;
	text-decoration: none;
}

.navigation-button:active {
	color: white;
	border-color: white;
}

.navigation-button#prev-button {
	align-self: flex-start;
}

.navigation-button#next-button {
	margin-left: auto;
	align-self: flex-end;
}

.footer-container {
	background-color: #212121;
	padding: 2px 20px;
}
.footer-container #about-link {
	color: #FFFFFF;
	text-decoration: none;
}

.hat-box {
	display: flex;
	align-items: center;
}

.hat-image {
	flex: 0 1 120px;
	max-height: 120px;
	max-width: 15%;
}

.hat-definition {
	padding-left: 20px;
	flex: 1;
}

#response-form {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#response-form input[type="radio"] {
	display: none;
}

.response-label {
	display: block;
	height: 50px;
	/* Vertically align text */
	line-height: 50px;
	border-radius: 12px;
	text-align: center;
	vertical-align: middle;
	text-align: center;
	border-color: black;
	margin: 10px;
}

#response-form input[type="radio"]:checked+.response-label {
	border-color: white;
}

.results-chart {
	max-width: 200px;
	height: 200px;
	display: flex;
	flex: 0 0 200px;
	margin: 0px 20px;
}

.results-description {
	display: flex;
	flex-direction: column;
}

.results-container {
	display: flex;
	flex-grow: 1;
}

@media (max-width: 1000px) {
	body {
		width: 100%;
		margin: 0px;
	}
}

@media (max-width: 800px) {
	.results-chart {
		margin: 0px auto;
	}
	
	.results-container {
		flex-direction: column;
	}
}